
<p>
  <strong>Application Name:</strong>
  <%= @app.name %>
</p>
 
<p>
  <strong>IP Address:</strong>
  <%= @app.ip %>
</p>

<p>
  <strong>Command:</strong>
  <%= @app.command %>
</p>

<%= link_to 'Back', apps_path %>
